$color-primary: #70CA00;
// $color-primary: #66cc00;
// $color-primary-darker: rgb(89, 161, 0);
$color-primary-darker: #59b300;

$color-primary-lighter: #F1FAE5;

$color-white: #fff;
$color-black: #000;

$color-gray: #575757;
$color-gray-lighter: #f3f3f3;
$color-nav: #272727;

// 

//FONTS

$default-font-size: 1.6rem;
$h1-font-size: 6rem;

$icon-font-size: 2.5rem;



//NOTICE COLORS
$color-succes: #DFF0D8;
$color-notice: #FCF8E3;
$color-error: #F2DEDE;

$color-succes-darker: #3C763D;
$color-notice-darker: #8A6D3B;
$color-error-darker: #A94442;

$color-linkedin: #0e76a8;