.contact-info{
    width: 60%;
    margin: 15rem auto;
    padding: 5rem;
    position: relative;
    background-color: $color-white;
    box-shadow: .5px .5px 5px rgb(212, 212, 212);


    @include responsive(laptop-small){
        width: 70%;
    }
    @include responsive(tab-large){
        width: 80%;
    }
    @include responsive(tab-small){
        width: 100%;
    }
    @include responsive(phone){
        padding: 5rem 1rem;
    }
   
    &-img{
        width: 30rem;
        position: absolute;
        left: -25rem;
        top: -8rem;
        z-index: -1;

        @include responsive(laptop-small){
            top: -26rem;
            left: -13rem;
            transform: rotate(20deg);
        }
        @include responsive(tab-small){
            width: 20rem;
            top: -18rem;
            left: 10%;
            transform: rotate(20deg);
        }
       
    }
    &-heading{
        text-align: center;
        margin-bottom: 5rem;
        color: $color-primary;
    }
    
    &-list{
        list-style-type: none;

        &-item{
        
            text-align: left;
            margin-bottom: 1rem;
            display: flex;
            align-items: center;

            span{
                margin-right: 1rem;
                color: $color-primary; 
            }
        }

    }

   
}

