.u-margin-big{margin: 4rem}

.u-margin-right-sm{ margin-right: 2rem;}
.u-margin-left-sm{ margin-left: 2rem;}
.u-margin-bottom-sm{margin-bottom: 2rem;}

.u-margin-left-big{ margin-left: 20rem;}


.color-black{
    color: $color-black;
}


// WORDPRESS BLOG PAGINATION
//////////////////////////////////////////////
//////////////////////////////////////////////
.pagination{
    margin: 5rem;
    text-align: center;    
}
.pagination .page-numbers{
    font-size: 2rem;
    padding: 5px;
    text-decoration: none;
    color: #575757;
}
.pagination .page-numbers:hover{
    color: #70CA00;
}


// HAMBURGER MENU TRANSPARENT
//////////////////////////////////////////////
//////////////////////////////////////////////












